

.content {
    width: 100%;
    border: 1px solid green;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    background-color: orange;
    align-items: center;
}

.navigation {
    margin-left: 1vw;
    border: 1px solid red;

    a {
        text-decoration: none;
        color: #000;
        font-size: 1.4vw;
        padding: 1rem;

    }
}